{% macro breadcrumb(name) %}
    {% set breadcrumb_nav_list = [
        {'name':'home',         'label':'Home',         'href':path('_homepage')},

        {'name':'orders',       'label':'Orders',       'href':path('_orders'),   'parent':'home'},
        {'name':'order',        'label':'Order',        'href':'#',   'parent':'orders'},

        {'name':'code_lists',    'label':'Code lists',   'href':path('_homepage'),   'parent':'home'},

        {'name':'job_types',    'label':'Job types',    'href':path('_job_types'),   'parent':'code_lists'},
        {'name':'job_type',     'label':'Job type',     'href':'#',   'parent':'job_types'}

    ] %}
    
    {% for item in breadcrumb_nav_list %}
        {% if item.name == name %}
            {% if item.parent is defined %}
                {{ _self.breadcrumb(item.parent) }} / 
            {% endif %}
            <a href="{{ item.href }}">{{ item.name }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}
