{% macro breadcrumb(name) %}
    {% set breadcrumb_nav_list = [
        {'name':'home',         'label':'Home',             'href':path('_homepage')},

        {'name':'orders',       'parent':'home',        'label':'Orders', 'href':path('_orders')},
        {'name':'order',        'parent':'orders',      'label':'Order details', 'href':'#'},

        {'name':'code_lists',   'parent':'home',        'label':'Code lists', 'href':'#'},

        {'name':'job_types',    'parent':'code_lists',  'label':'Job types', 'href':path('_job_types')},
        {'name':'job_type',     'parent':'job_types',   'label':'Job type details', 'href':'#'},

        {'name':'users',    'parent':'code_lists',  'label':'Users', 'href':path('_users')},
        {'name':'user',     'parent':'users',   'label':'User details', 'href':'#'}
    ] %}
    
    {% for item in breadcrumb_nav_list %}
        {% if item.name == name %}
            {% if item.parent is defined %}
                {{ _self.breadcrumb(item.parent) }} / 
            {% endif %}
            <a href="{{ item.href }}">{{ item.label|trans }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}
