{% extends 'BigPandaDevMainBundle:Dialogs:modal.html.twig' %}

{% block modal_id %}modal-preview{% endblock %}

{% block head %}
    <a role="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>
    <h4>{% block title %}{% endblock %}</h4>
{% endblock %}

{% block footer_container %}{% endblock %}