<footer class="container">
    <hr class="small" />
    <p>&copy; <a href="https://www.facebook.com/bigpandadev" target="bp_footer">BigPanda</a> {{ 'team'|trans }}. 
        {{ 'Webdesign by'|trans }} <a href="https://www.facebook.com/matijabelec" target="bp_footer">Matija Belec</a>.</p>
</footer>