{% extends 'BigPandaDevMainBundle:Default:layout_panel-12.html.twig' %}
{% set back_link = path('_users') %}
{% set bc_name = 'user' %}

{% block panel_title 'User details'|trans %}

{% block content %}
    {% if form is defined %}
        {% include 'BigPandaDevMainBundle:Users:user_form.html.twig' %}
    {% else %}
        {% embed "BigPandaDevMainBundle:Crud:read.html.twig" %}
            {% block read_title %}{{ 'User details'|trans }}{% endblock %}
            {% block record %}
                {% if user is defined and user is not null %}
                    <h2>#{{ user.id }}: {{ user.name|e }}</h2>
                {% else %}
                    <p>No user with that id found!</p>
                {% endif %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}